<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    {{attach_library('makerparktheme/bootstrap') }}
    {{attach_library('makerparktheme/popper')}}


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}



    </div>

    </header>



    <center> <h1>Our Sponsors</h1> </center>

    <div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 40px;">
      <div class="card">
        <img class="card-img-top mx-auto" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px;">
        <div class="card-block">
          <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
          <p class="card-text">Art School Mixtape brings you back to the day when you were exchanging mix tapes with your friends and crushes to find out about new music...</p>
          <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top mx-auto" src="http://makerparkradio.nyc/wp-content/uploads/2017/09/bi-monthly-distractions-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px; padding-bottom: 10px;">
        <div class="card-block">
          <h4 class="card-title">Bi-Monthly Distractions (for the afflicted) – A Theoretical Greenhouse</h4>
          <p class="card-text">   Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s...</p>
           <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Read More</button> <a href="#" class="btn btn-primary">Instagram</a>
           <div id="demo1" class="collapse">
             Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s wishlust of obscure information they might just cover everything from the latest esoteric goings on about town, worthwhile theoretical physicists to follow online, obscure soundscapes, in-depth reports yearning eastward from the edges of suburbia, Himalayan endeavors, discussions with local legends and artists, and anything else that comes up while they search under the seats of the theatre for the key to reality.
        </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top mx-auto" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px; padding-bottom: 10px;">
        <div class="card-block">
          <p class="card-title">Break In Case of Emergency Jazz” highlights bebop and classic, old-school jazz. This show has no currently designated date or time slot, hence the name...</p> <p class="card-text collapse" id="viewdetails">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
          <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
        </div>
        </div>
      </div>
    </div>
    <div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 40px;">
      <div class="card">
        <img class="card-img-top mx-auto" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px; padding-bottom: 10px;">
        <div class="card-block">
          <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
          <p class="card-text">Art School Mixtape brings you back to the day when you were exchanging mix tapes with your friends and crushes to find out about new music...</p>
          <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top mx-auto" src="http://makerparkradio.nyc/wp-content/uploads/2017/09/bi-monthly-distractions-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px; padding-bottom: 10px;">
        <div class="card-block">
          <h4 class="card-title">Bi-Monthly Distractions (for the afflicted) – A Theoretical Greenhouse</h4>
          <p class="card-text">   Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s...</p>
           <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Read More</button> <a href="#" class="btn btn-primary">Instagram</a>
           <div id="demo1" class="collapse">
             Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s wishlust of obscure information they might just cover everything from the latest esoteric goings on about town, worthwhile theoretical physicists to follow online, obscure soundscapes, in-depth reports yearning eastward from the edges of suburbia, Himalayan endeavors, discussions with local legends and artists, and anything else that comes up while they search under the seats of the theatre for the key to reality.
        </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top mx-auto" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px; padding-bottom: 10px;">
        <div class="card-block">
          <p class="card-title">Break In Case of Emergency Jazz” highlights bebop and classic, old-school jazz. This show has no currently designated date or time slot, hence the name...</p> <p class="card-text collapse" id="viewdetails">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
          <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
        </div>
        </div>
      </div>
    </div>
    <div class="card-deck justify-content-center" style="width: 80rem; .card-deck float: none; margin: 0px auto; padding-bottom: 40px; padding-top: 40px;">
      <div class="card">
        <img class="card-img-top mx-auto" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px; padding-bottom: 10px;">
        <div class="card-block">
          <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
          <p class="card-text">Art School Mixtape brings you back to the day when you were exchanging mix tapes with your friends and crushes to find out about new music...</p>
          <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top mx-auto" src="http://makerparkradio.nyc/wp-content/uploads/2017/09/bi-monthly-distractions-300x300.jpg" alt="Card image cap" style="width: 300px; height: 300px; padding-bottom: 10px;">
        <div class="card-block">
          <h4 class="card-title">Bi-Monthly Distractions (for the afflicted) – A Theoretical Greenhouse</h4>
          <p class="card-text">   Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s...</p>
           <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Read More</button> <a href="#" class="btn btn-primary">Instagram</a>
           <div id="demo1" class="collapse">
             Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s wishlust of obscure information they might just cover everything from the latest esoteric goings on about town, worthwhile theoretical physicists to follow online, obscure soundscapes, in-depth reports yearning eastward from the edges of suburbia, Himalayan endeavors, discussions with local legends and artists, and anything else that comes up while they search under the seats of the theatre for the key to reality.
        </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top mx-auto" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap" style="width: 300px; height: 300px; padding-bottom: 10px;">
        <div class="card-block">
          <p class="card-title">Break In Case of Emergency Jazz” highlights bebop and classic, old-school jazz. This show has no currently designated date or time slot, hence the name...</p> <p class="card-text collapse" id="viewdetails">it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
          <p><a class="btn bg-primary text-white" data-toggle="collapse" data-target="#viewdetails">Show Info</a> <a href="#"class="btn btn-primary">Instagram</a> </p>
        </div>
        </div>
      </div>
    </div>



  </body>
</html>
