<header role="banner">
  {{ page.header }}
</header>

<div class="wrapper">
    <div class="h_iframe">
        <iframe src="https://livestream.com/accounts/25937168/events/7713617/player" frameborder="0" scrolling="no"></iframe>

    <title>Maker Park Radio on Livestream</title>

    <link href="//cdn.livestream.com/deploy/apps/production/events/3.7.64/stylesheets/embed.css" media="screen" rel="stylesheet" type="text/css" />

    </div>
        <style>
        html,body        {height:100%;}
        .wrapper         {width:100%;height:100%;margin:0}
        .h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%; z-index: -3;}
        </style>
</div>

<div class="layout-container">


  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">

      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
