<html>
  <head>
    <meta charset="utf-8">

    {{attach_library('makerparktheme/bootstrap')}}
    {{attach_library('makerparktheme/popper')}}

    <head>
      <title>Pusher Test</title>
      <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
      <script>

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('f77e74de169c87b1f90f', {
          cluster: 'us2',
          encrypted: true
        });

        var channel = pusher.subscribe('my-channel');
        channel.bind('my-event', function(data) {
          alert(data.message);
        });
      </script>
    </head>


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}

    </div>

    </header>

<h1>Shows</h1>

<div class="qw-page-content">
						<div class="row">

							<div class="col-md-12">


										<div class="qw-thecontent"></div>


                          <div class="card-group" style="width: 600px; height: 600px;">
                            <div class="card">
                              <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2018/01/ASMT-300x300.jpg" alt="Card image cap">
                              <div class="card-block">
                                <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
                                <p class="card-text">Art School Mixtape brings you back to the day when you were exchanging mix tapes with your friends and crushes to find out about new music. Here at Art School Mixtape, we don’t discriminate. New Wave, Hip Hop, Electronic, Fuzz Guitar, even Spoken Word. We touch all of it. Without permission</p>
                                <a href="#" class="btn btn-primary">Instagram</a>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/09/bi-monthly-distractions-300x300.jpg" alt="Card image cap">
                              <div class="card-block">
                                <h4 class="card-title">Bi-Monthly Distractions (for the afflicted) – A Theoretical Greenhouse</h4>
                                <p class="card-text">Zero Items compatriots Jason Tribiano, and Rudy Bacich bring 2 hours worth of their constantly expanding range of passions to this bi-monthly program. With a focus on fulfilling the endless dreamer’s wishlust of obscure information they might just cover everything from the latest esoteric goings on about town, worthwhile theoretical physicists to follow online, obscure soundscapes, in-depth reports yearning eastward from the edges of suburbia, Himalayan endeavors, discussions with local legends and artists, and anything else that comes up while they search under the seats of the theatre for the key to reality.</p>
                                  <a href="#" class="btn btn-primary">Instagram</a>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                            <div class="card">
                              <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" alt="Card image cap">
                              <div class="card-block">
                                <h4 class="card-title">Break In Case of Emergency Jazz</h4>
                                <p class="card-text">Break In Case of Emergency Jazz” highlights bebop and classic, old-school jazz. This show has no currently designated date or time slot, hence the name, it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                          </div>

                          <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://makerparkradio.nyc/wp-content/uploads/2017/09/bi-monthly-distractions-300x300.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Art Shchool Mixtape w/DJ Dari Queen</h4>
      <p class="card-text">Art School Mixtape brings you back to the day when you were exchanging mix tapes with your friends and crushes to find out about new music. Here at Art School Mixtape, we don’t discriminate. New Wave, Hip Hop, Electronic, Fuzz Guitar, even Spoken Word. We touch all of it. Without permission.</p>
      <a href="#" class="btn btn-primary">Instagram</a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Bi-Monthly Distractions (for the afflicted) – A Theoretical Greenhouse</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Break In Case of Emergency Jazz</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>




									<article id="post-315" class="post-315 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Break In Case of Emergency Jazz</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-282x300.png 282w, http://makerparkradio.nyc/wp-content/uploads/2017/07/image1.png 378w" sizes="(max-width: 282px) 100vw, 282px">						</div>

						<p>“Break In Case of Emergency Jazz” highlights bebop and classic, old-school jazz. This show has no currently designated date or time slot, hence the name, it will be inserted and produced to fill in a last minute gap in programming. If you enjoy classic jazz this is the place for you, enjoy!</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-92" class="post-92 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Cats Got Soul w/Kitty</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul-300x294.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/01-Cats-Got-Soul.jpg 429w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Fat tracks from the 50s and 60s! Soul, R&amp;B and Doo-Wop on 7″ vinyl.</p>
<p><a href="http://kalrikit.wixsite.com/kittythedj" target="_blank">Kitty the Disc Jockey’s web site</a></p>
<p><a href="https://www.facebook.com/kittythedj" target="_blank">@kittyvinyldj on facebook</a></p>
<p><a href="https://twitter.com/kittyvinyldj" target="_blank">@kittyvinyldj on twitter</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-499" class="post-499 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Centric w/Daé Monae</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2018/01/987257EA-6FEC-46B2-84BF-E81C6C84B5E8-1-300x300.jpeg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2018/01/987257EA-6FEC-46B2-84BF-E81C6C84B5E8-1-300x300.jpeg 300w, http://makerparkradio.nyc/wp-content/uploads/2018/01/987257EA-6FEC-46B2-84BF-E81C6C84B5E8-1-150x150.jpeg 150w, http://makerparkradio.nyc/wp-content/uploads/2018/01/987257EA-6FEC-46B2-84BF-E81C6C84B5E8-1-768x768.jpeg 768w, http://makerparkradio.nyc/wp-content/uploads/2018/01/987257EA-6FEC-46B2-84BF-E81C6C84B5E8-1-1024x1024.jpeg 1024w, http://makerparkradio.nyc/wp-content/uploads/2018/01/987257EA-6FEC-46B2-84BF-E81C6C84B5E8-1-600x600.jpeg 600w, http://makerparkradio.nyc/wp-content/uploads/2018/01/987257EA-6FEC-46B2-84BF-E81C6C84B5E8-1-250x250.jpeg 250w, http://makerparkradio.nyc/wp-content/uploads/2018/01/987257EA-6FEC-46B2-84BF-E81C6C84B5E8-1-500x500.jpeg 500w, http://makerparkradio.nyc/wp-content/uploads/2018/01/987257EA-6FEC-46B2-84BF-E81C6C84B5E8-1.jpeg 1242w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Our Show is called “Centric”. On Centric, we get to discuss positive energy, healing, music, current events, and most things eccentric or different.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-125" class="post-125 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Channels &amp; Winds w/Ray</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/channelsandwinds-219x300.png" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/channelsandwinds-219x300.png 219w, http://makerparkradio.nyc/wp-content/uploads/2017/06/channelsandwinds-439x600.png 439w, http://makerparkradio.nyc/wp-content/uploads/2017/06/channelsandwinds.png 710w" sizes="(max-width: 219px) 100vw, 219px">						</div>

						<p>Channels and Winds brings you an eclectic blend of today’s Bottom 40 hits from all major genres, from Reptilian Disco to Sock-Hop Soul. Ray, your host, will engage a menagerie of wide-eyed guests in conversation about music, art, politics, culture, garbage, anger, and other elitist intellectual pursuits that you’re sick of hearing about already. Contests.</p>
<p><a href="http://facebook.com/channelsandwinds" target="_blank">Channels &amp; Winds on Facebook</a></p>
<p><a href="http://instagram.com/channelsandwinds" target="_blank">Channels and Winds on Instagram</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-84" class="post-84 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Classical-ish w/Nutmeg</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/18-Classical-Ish-300x97.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/18-Classical-Ish-300x97.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/18-Classical-Ish-600x195.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/06/18-Classical-Ish.jpg 647w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Classical-ish is an intrepid foray into the genre non-conforming outer edges of the classical universe, where women who make beautiful noise, non-Western modalities, sonic experimentation and composers of color are what’s happening. Join host Nutmeg as she sets out to prove that there’s more to classical music than just old white dudes.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-65" class="post-65 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Clave Calaidoscope</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/08-Clave-Calidoscope-298x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/08-Clave-Calidoscope-298x300.jpg 298w, http://makerparkradio.nyc/wp-content/uploads/2017/06/08-Clave-Calidoscope-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/06/08-Clave-Calidoscope.jpg 525w" sizes="(max-width: 298px) 100vw, 298px">						</div>

						<p>The Clave Calidoscope brings you clave infused music from Puerto Rico, New York City and other parts of the world. Tune in and enjoy classic Latin music, Salsa, Latin Jazz and clave inspired selections from the golden era of these genres.</p>
<p><a href="https://www.instagram.com/clavecalidoscope/?hl=en" target="_blank">#clavecalidoscope on Instagram</a></p>
<p><a href="https://twitter.com/Papa_Gute" target="_blank">Clave Calidoscope on twitter</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-94" class="post-94 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Composite Beast</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/02-Composite-Beast-300x231.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/02-Composite-Beast-300x231.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/02-Composite-Beast-768x591.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/02-Composite-Beast-1024x788.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/06/02-Composite-Beast-600x462.jpg 600w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Dark tales of aliens, monsters, and other paranormal silliness over vast, deep, and wonderful selections of soul, funk, gospel, reggae, hip-hop, world, garage, psychedelic and many more unexplained sounds.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-429" class="post-429 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Creative Endeavors w/Staten Island Arts</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/09/SIA-logo-final-RGB-black-lettering-300x159.png" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/09/SIA-logo-final-RGB-black-lettering-300x159.png 300w, http://makerparkradio.nyc/wp-content/uploads/2017/09/SIA-logo-final-RGB-black-lettering-600x318.png 600w, http://makerparkradio.nyc/wp-content/uploads/2017/09/SIA-logo-final-RGB-black-lettering.png 638w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Creative Endeavors hopes to inform the community about Staten Island’s arts council, Staten Island Arts. The show will feature projects and opportunities connected to SI Arts as well as informing the community about all the programs SI Arts offers. The show will be used to highlight past SI Arts grantee projects along with informing people about upcoming grantee projects they can experience in their own neighborhoods. Through interviews with artists/creators/makers the show will explore the greatest benefits of exercising creativity. The expression of creative ideas and how that expression can lead to facing the fear of failure, building self-worth, and seeing the world differently.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-105" class="post-105 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Cut + Paste</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/12-Cut-Paste-300x201.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/12-Cut-Paste-300x201.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/12-Cut-Paste-768x514.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/12-Cut-Paste-1024x685.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/06/12-Cut-Paste-600x401.jpg 600w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Cut + Paste is a monthly talk show featuring both emerging and established voices in fiction, non-fiction, and poetry. Guests discuss and read from their work, and share the music they’ve selected for the show. Listen every third Saturday of the month at noon.<br>
<a href="http://www.fiorestory.com/cut-paste/" target="_blank">www.fiorestory.com</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-82" class="post-82 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Dan Mackta</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/35-Dan-Mackta-200x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/35-Dan-Mackta-200x300.jpg 200w, http://makerparkradio.nyc/wp-content/uploads/2017/06/35-Dan-Mackta-400x600.jpg 400w, http://makerparkradio.nyc/wp-content/uploads/2017/06/35-Dan-Mackta.jpg 640w" sizes="(max-width: 200px) 100vw, 200px">						</div>

						<p>Freeform music radio inspired by life on Staten Island’s North Shore.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-415" class="post-415 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">DJ H20</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/08/DJ-H20-300x225.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/08/DJ-H20-300x225.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/08/DJ-H20-768x576.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/08/DJ-H20-1024x768.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/08/DJ-H20-600x450.jpg 600w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>DJ H2O’s talk show is a radio segment discussing trending brands like Addias, Nike, Off-White, Supreme, Bape, etc. Additionally I’ll be performing and producing beats live on air, as well as latest music selections. </p>
<p>There will also be guests participating in the segment and in the future celebrity guests.</p>
<p>Stay tuned! </p>
<p><a href="https://www.facebook.com/pg/IAMDJH2O/about/?ref=page_internal" target="_blank">DJ H20’s Facebook page</a></p>
<p><a href="https://www.instagram.com/dj.h2o/?hl=en" target="_blank">DJ H20’s Instagram</a></p>
<p><a href="http://www.djh20.com/" target="_blank">DJ H20’s Web Site</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-87" class="post-87 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">DJ Thrilla’s United DJs Freshstyles</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_8524-e1498836397687-194x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_8524-e1498836397687-194x300.jpg 194w, http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_8524-e1498836397687.jpg 310w" sizes="(max-width: 194px) 100vw, 194px">						</div>

						<p>A “Soul Kitchen” featuring a blend of Hip Hop, Dance, Classic Rock &amp; Salsa. Mixin’ It Up!</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-126" class="post-126 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Done Been Played</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/33-Done-Been-Played.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/33-Done-Been-Played.jpg 180w, http://makerparkradio.nyc/wp-content/uploads/2017/06/33-Done-Been-Played-150x150.jpg 150w" sizes="(max-width: 180px) 100vw, 180px">						</div>

						<p>The past does not repeat itself, but it rhymes. ~ Mark Twain ~</p>
<p>Join Carol Hooper on a genre bending musical adventure to discover the many ways artists have made modern classics all their own: from Eddie Hazel’s psychedelic funk interpretation of California Dreamin’ to James Vincent McMorrow’s acoustic reimagining of Willow Smith’s Whip My Hair and back.</p>
<p><a href="https://www.facebook.com/Done-Been-Played-1879844052283933/" target="_blank">Done Been Played on Facebook</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-123" class="post-123 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Gazza’s Groovy Culture Clash</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/36-Gazzas-Groovy-Culture-Clash-225x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/36-Gazzas-Groovy-Culture-Clash-225x300.jpg 225w, http://makerparkradio.nyc/wp-content/uploads/2017/06/36-Gazzas-Groovy-Culture-Clash-768x1024.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/36-Gazzas-Groovy-Culture-Clash-450x600.jpg 450w, http://makerparkradio.nyc/wp-content/uploads/2017/06/36-Gazzas-Groovy-Culture-Clash.jpg 1528w" sizes="(max-width: 225px) 100vw, 225px">						</div>

						<p>From near and far, old and new, I will be playing the finest in funk, soul, reggae, house and anything groovy that takes my fancy.</p>
<p><a href="https://www.facebook.com/gazzasgroovycultureclash/" target="_blank">@ClashGroovy</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-496" class="post-496 show type-show status-publish hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Hardcore Easy Listening w/Johnny D. In the Place to be as you can Plainly See</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
													</div>

						<p>A savory- yet saccharine, melange of sleaze and cheese, bridging the gap from 2 Live Crew to Zamfir (Master of the Panflute). Turn up your Hi-Fi and prepare to be dazzled by gentle waves of audio pleasure. Please listen responsibly.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-463" class="post-463 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Hibrido Literario: Literature &amp; Music</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/11/Hibridooo-232x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/11/Hibridooo-232x300.jpg 232w, http://makerparkradio.nyc/wp-content/uploads/2017/11/Hibridooo-768x994.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/11/Hibridooo-791x1024.jpg 791w, http://makerparkradio.nyc/wp-content/uploads/2017/11/Hibridooo-464x600.jpg 464w, http://makerparkradio.nyc/wp-content/uploads/2017/11/Hibridooo.jpg 1275w" sizes="(max-width: 232px) 100vw, 232px">						</div>



					</article>
					<div style="clear:both;"></div>

									<article id="post-459" class="post-459 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Hidden Gems – Hosted by DJ Gary</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/11/HiddenGems_Logo_2-300x179.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/11/HiddenGems_Logo_2-300x179.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/11/HiddenGems_Logo_2-768x458.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/11/HiddenGems_Logo_2-1024x610.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/11/HiddenGems_Logo_2-600x358.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/11/HiddenGems_Logo_2.jpg 1500w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Two hours of deep cuts from your favorite Classic Rock Artists, the best in Alternative Rock, New Music and those tracks that you haven’t heard in years.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-467" class="post-467 show type-show status-publish hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Hip Hop Taught Me</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
													</div>

						<p>Hip Hop Taught Me is a monthly show that interviews emerging artists and producers about their musical influences. Artists will have an opportunity to promote their sound by curating half the show and discussing their selections.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-435" class="post-435 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Island Jams w/Kat</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/09/Island-Jams-wKat-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/09/Island-Jams-wKat-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/09/Island-Jams-wKat-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/09/Island-Jams-wKat-768x768.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/09/Island-Jams-wKat-600x600.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/09/Island-Jams-wKat-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/09/Island-Jams-wKat-500x500.jpg 500w, http://makerparkradio.nyc/wp-content/uploads/2017/09/Island-Jams-wKat.jpg 1024w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>As a lifelong Staten Islander, Kat is familiar with all the wonderful things the Island has to offer, including great local music. Every other Sunday on Island Jams, Kat will interview a new local artist about their work. In the “Jam-Packed” round of questions, Kat will ask the artists rapid fire questions about anything from “What artist they would host a dinner party with?” to “If they could only listen to one record for the rest of their life, what would it be?” Artists will also perform their jams live on air. Tune into Island Jams for some great local flavor.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-122" class="post-122 show type-show status-publish hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">It’s All About the Food</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
													</div>

						<p>It may not be the only thing but it’s all about the food. The ethics the science the cooking and the eating of it. With your host the sometimes sweet &amp; the sometimes savory but always sizzling Steve Piazza.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-130" class="post-130 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Jay Gray – Scallywag Beats</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/31-Scallywag-Beats-Jay-Gray-300x169.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/31-Scallywag-Beats-Jay-Gray-300x169.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/31-Scallywag-Beats-Jay-Gray-600x338.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/06/31-Scallywag-Beats-Jay-Gray.jpg 720w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Londoner Jay Gray brings to you a mixture of rock, indie, soul, punk, blues, ska, reggae and whatever else takes his fancy!  He will begin his tour of music with a British-influenced show before turning his sights to the world stage.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-80" class="post-80 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Kris Wallace</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/11-Kristin-Wallace-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/11-Kristin-Wallace-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/11-Kristin-Wallace-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/06/11-Kristin-Wallace-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/06/11-Kristin-Wallace-500x500.jpg 500w, http://makerparkradio.nyc/wp-content/uploads/2017/06/11-Kristin-Wallace.jpg 549w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Melodic House that drifts into deep-tech, techno &amp; electronic.</p>
<p><a href="https://www.instagram.com/officialkriswallace/?hl=en" target="_blank">Kris Wallace on Instagram</a></p>
<p><a href="https://www.facebook.com/OfficialKrisWallace/" target="_blank">Kris Wallace on Facebook</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-86" class="post-86 show type-show status-publish hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Lak Nadha</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
													</div>

						<p>Sri Lankan Children’s Show, cultural, educational show and Sri Lankan songs with participation of young generation.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-128" class="post-128 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">MakeHERspace w/Magie</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/32-MakeHERspace-195x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/32-MakeHERspace-195x300.jpg 195w, http://makerparkradio.nyc/wp-content/uploads/2017/06/32-MakeHERspace-768x1184.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/32-MakeHERspace-664x1024.jpg 664w, http://makerparkradio.nyc/wp-content/uploads/2017/06/32-MakeHERspace-389x600.jpg 389w, http://makerparkradio.nyc/wp-content/uploads/2017/06/32-MakeHERspace.jpg 1283w" sizes="(max-width: 195px) 100vw, 195px">						</div>

						<p>In a time where female empowerment is both on the uprise but also very much in need, it is through the arts that a literal and metaphorical voice is created to engage the community.  makeHERspace radio hour is an outlet to broadcast women from all walks of life such as artists, musicians, business owners, public figures, and more. Through interviews, stories, anecdotes, poetry, writing, and music, our goal is to showcase women and inspire and educate listeners. makeHERspace radio hour is created and hosted by Magie Serpica who has a dynamic list of achievements as a contributing member to the arts within the Staten Island community.  Magie is a local artist, tattooer, business owner, curator, writer, musician and mother of two, and is an activist in the world of feminism and women’s rights.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-88" class="post-88 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Music I Like w/Fletcher</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/09-Music-I-Like-300x200.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/09-Music-I-Like-300x200.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/09-Music-I-Like-600x400.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/06/09-Music-I-Like.jpg 720w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>MUSIC I LIKE is exactly what the title says – music that sends a quiver down my backbone. The show focuses on rock ‘n’ roll from the 50s through the early 90s. you’ll hear rockabilly, through psychedelia and heavy blues, through the best days of punk and metal, to the heady days of what used to be called college radio. Along the way there’ll be stops with the Mods, Detroit’s heavy bands, the UK’s pub rockers, and all sorts of extravagant prog bands. Expect little-heard album tracks from big names as well as very cool music from undeservedly forgotten scenes and artists, as well as some surprises and curve balls every now and then.</p>
<p><a href="https://twitter.com/IslandWasp" target="_blank">https://twitter.com/IslandWasp</a></p>
<p><a href="http://musicilikesi.blogspot.com/" target="_blank">http://musicilikesi.blogspot.com/</a><br>
<a href="https://www.facebook.com/IslandWasp/" target="_blank">https://www.facebook.com/IslandWasp/</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-461" class="post-461 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Mute City Mixtape w/Danny Nelson</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/11/image1-300x225.jpeg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/11/image1-300x225.jpeg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/11/image1-768x576.jpeg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/11/image1-1024x768.jpeg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/11/image1-600x450.jpeg 600w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Old school hip-hop (mostly 90’s, some early 2000’s) mixed with hip-hop and R&amp;B. From singles to album cuts to B-Sides</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-117" class="post-117 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Nothing Personal</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal-768x768.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal-600x600.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal-500x500.jpg 500w, http://makerparkradio.nyc/wp-content/uploads/2017/06/23-Nothing-Personal.jpg 1024w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Nothing Personal is an irreverent comedy &amp; music show featuring Stephen Ignatious (of Cringeworthy Show and In Strange Company Podcast) and guests for a bi-weekly adventure with NYC’s hottest comics, artists, and performers and jams that will make your ears go “whoah!” and “what??” at the same time! Two hours of pure unadulterated chaos, comedy, and confusion!</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-76" class="post-76 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Nowhere Fast w/Tom F.</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/10-Nowhere-Fast-300x225.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/10-Nowhere-Fast-300x225.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/10-Nowhere-Fast-768x576.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/10-Nowhere-Fast.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/06/10-Nowhere-Fast-600x450.jpg 600w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Blasting through time and space is the grit of the red-lined vocal, the bleeding mic and guitar feedback…. holding pace from 1953 till 2023 are sounds that feel good and sounds that feel…Bad. Hold on to that thought, we are going Nowhere Fast.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-113" class="post-113 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">One Time For Your Mind …A Sonic Smorgasboard</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/21-One-Time-For-Your-Mind-205x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/21-One-Time-For-Your-Mind-205x300.jpg 205w, http://makerparkradio.nyc/wp-content/uploads/2017/06/21-One-Time-For-Your-Mind-410x600.jpg 410w, http://makerparkradio.nyc/wp-content/uploads/2017/06/21-One-Time-For-Your-Mind.jpg 656w" sizes="(max-width: 205px) 100vw, 205px">						</div>

						<p>Hosted by Jim Murphy</p>
<p>You’ll never know what to expect as I mine the depths for deep grooves, sonic beauty, immortal rhymes, incomparable vibes, hard-rocking, ancient expressions, soulful exhortations, seasonal goodies, and more. I’ll spin everything from old school hip-hop to early classical music, from ambient space to 70’s disco-funk, from reggae to bluegrass, and everything in between. This show is about sonic discovery, plain and simple. Digging in the crates.</p>
<p><a href="https://www.instagram.com/onetimeforyourmindradio/?hl=en" target="_blank">One Time for Your Mind on Instagram</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-115" class="post-115 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Podcats</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/Podcats-300x227.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/Podcats-300x227.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/Podcats-768x580.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/Podcats-1024x774.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/06/Podcats-600x453.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/06/Podcats.jpg 1289w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Attention cat lovers!  Do you need a weekly dose of cats to get you through the week?  Is your own cat just not cutting it?</p>
<p>Look no further!  Tune in to Podcats to see fellow cat fanatics, and of course, their purr-fect cats!  Listen meow!</p>
<p>Podcatsradionyc@gmail.com</p>
<p><a href="http://www.emilyperina.com/podcats" target="_blank">www.podcats.nyc</a></p>
<p><a href="http://@PodcatsRadio" target="_blank">podcats on Instagram</a></p>
<p><a href="https://www.facebook.com/podcatsnyc/">podcats on facebook</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-73" class="post-73 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Rhythm Selection w/Giles Dickerson</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/25-Rhythm-Selection-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/25-Rhythm-Selection-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/25-Rhythm-Selection-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/06/25-Rhythm-Selection-768x768.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/25-Rhythm-Selection-1024x1024.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/06/25-Rhythm-Selection-600x600.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/06/25-Rhythm-Selection-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/06/25-Rhythm-Selection-500x500.jpg 500w, http://makerparkradio.nyc/wp-content/uploads/2017/06/25-Rhythm-Selection.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>What exactly is that magical “thing” a song has hidden between the lines in the music that gives you an uncontrollable desire to dance? Rhythm Selection is a 2 hour live streaming mixshow in NYC that explores this topic weekly every Friday from 8pm – 10pm EST. The show is hosted by Giles Dickerson, a collector / DJ / producer / record label owner, and will feature frequent guests from the world of underground dance music, discussing their experiences making and releasing dance music, running record labels, DJing, throwing parties, and most importantly: digging for that next amazing song discovery. Something new, something old, quality dance tracks since 2017.</p>
<p><a href="https://www.facebook.com/rhythmselection/" target="_blank">Rhythm Selection on Facebook</a></p>
<p><a href="https://www.instagram.com/rhythmselection/" target="_blank">Rhythm Selection on Instagram</a></p>
<p><a href="https://twitter.com/rhythmselection" target="_blank">Rhythm Selection on Twitter</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-419" class="post-419 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Rush Hour w/DJ HO</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/08/RUSH-HOUR-WDJ-HO-169x300.png" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/08/RUSH-HOUR-WDJ-HO-169x300.png 169w, http://makerparkradio.nyc/wp-content/uploads/2017/08/RUSH-HOUR-WDJ-HO-768x1365.png 768w, http://makerparkradio.nyc/wp-content/uploads/2017/08/RUSH-HOUR-WDJ-HO-576x1024.png 576w, http://makerparkradio.nyc/wp-content/uploads/2017/08/RUSH-HOUR-WDJ-HO-338x600.png 338w, http://makerparkradio.nyc/wp-content/uploads/2017/08/RUSH-HOUR-WDJ-HO.png 1152w" sizes="(max-width: 169px) 100vw, 169px">						</div>

						<p>Bringing the beats from the late 80’s to the early 90’s . The music that keeps you moving just in time for the Rush Hour </p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-103" class="post-103 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">She Pop Show</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/07-She-Pop-300x221.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/07-She-Pop-300x221.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/07-She-Pop.jpg 388w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Kitty the Disc Jockey plays decades of rock, pop and soul, featuring the best chick singers from around the world.</p>
<p><a href="http://kalrikit.wixsite.com/kittythedj" target="_blank">Kitty the Disc Jockey’s web site</a></p>
<p><a href="https://www.facebook.com/kittythedj" target="_blank">@kittyvinyldj on facebook</a></p>
<p><a href="https://twitter.com/kittyvinyldj" target="_blank">@kittyvinyldj on twitter</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-391" class="post-391 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Sofa King HipHop Radio</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/08/IMG_0077-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/08/IMG_0077-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/08/IMG_0077-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/08/IMG_0077-768x768.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/08/IMG_0077-1024x1024.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/08/IMG_0077-600x600.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/08/IMG_0077-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/08/IMG_0077-500x500.jpg 500w, http://makerparkradio.nyc/wp-content/uploads/2017/08/IMG_0077.jpg 1242w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Where the conversation about music production has a home. Beats, Talk, and Dope Music! It’s show about production, tech talk and the best products available for your production needs. New and classic hiphop, jazz ,funk and world music set the tone for our discussions.<br>
Presented by PhitzDaDescription</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-90" class="post-90 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Sonic Flow w/Udachi</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/Sonic-Flow-Banner-FIXED-300x214.png" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/Sonic-Flow-Banner-FIXED-300x214.png 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/Sonic-Flow-Banner-FIXED-768x549.png 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/Sonic-Flow-Banner-FIXED-1024x732.png 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/06/Sonic-Flow-Banner-FIXED-600x429.png 600w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Greg Pesochin, aka Udachi, is a New York-based, electronic music producer whose visionary work fuses a wide-screen psychedelic approach, informed by Pink Floyd, to the dirty, low-end hum of what writer Simon Reynolds calls “the post-hardcore continuum.” His sound is the result of a journey as a person and DJ, from his place of birth in Ukraine in 1981, as a skater kid in the ‘90s listening to metal and hardcore through to the early 2000s when his ears were informed by the Staten Island roller rinks, with their disco and freestyle soundtrack, and the dance floors of New York bacchanals like The Tunnel, which were driven by heady blends of high velocity rave music and dark, driving progressive house.</p>
<p>While in college, during the same period, Greg spent four years hosting and djing on a weekly dance music radio show that featured guests such as drum n bass and bass music legend Reid Speed and leading-edge producer and remixer, Omar Santana. In 2002 he began producing his own music and by 2005 he had connected with fellow producer AC Slater, who introduced him to a wide array of electronic music genres, including house, dubstep, bass, breaks, drum n bass and classic rave music. The music of contemporary artists like Boxcutter, Drop The Lime and Benga really made an impression on Greg.</p>
<p>2007 saw him creating the name Udachi for his music project, which has crafted some remarkable original productions and remixes. Greg’s discography includes releases for NY’s Trouble &amp; Bass, remixes for Audio Bullys, AC Slater, Rico Tubbs, M83 and a remix of “The Whip” by Foxsky on Diplo’s Mad Decent label. His own productions such as “Smoke Rings” with a vocalist Jess Jubillee, and “P-Funk Skank” charted extremely well and were enthusiastically received by fans and other artists alike.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-136" class="post-136 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Sound Evolution Radio</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_3104-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_3104-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_3104-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_3104-768x768.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_3104-1024x1024.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_3104-600x600.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_3104-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/06/IMG_3104-500x500.jpg 500w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p class="p1"><span class="s1">A sonic distribution of the personalities, inner thoughts and visions of the people behind two of Staten Island’s newest and brightest music companies, Kreischer Mansion Studios and SoundEvolution Music. This show intends to provide a look behind the curtain for what happens when a recording studio and record label team up to create an environment for musicians, by musicians. We’ll play music from all genres, bring in bands to play live, have some surprise guests and interviews and discuss what it’s like to collaborate and create together. Kreischer Evolution Radio…it’s about time!”</span></p>
<p><a href="https://www.instagram.com/soundevolutionmusic/?hl=en" target="_blank">@soundevolutionmusic</a></p>
<p><a href="https://soundevolutionmusic.com/" target="_blank">www.soundevolutionmusic.com</a> </p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-232" class="post-232 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Sounds of the Underground w/Luke Larson</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-768x768.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-600x600.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/07/image1-500x500.jpg 500w, http://makerparkradio.nyc/wp-content/uploads/2017/07/image1.jpg 1001w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<div>I’m Luke Larson and its always been a passion of mine to make people dance. &nbsp;Djing is my profession and the DJ booth is my office.</div>
<div>
<div>Guest DJ’s and I will be spinning a variety of genres from the NYC underground dance scene. &nbsp;Join me for a listen!</div>
</div>


					</article>
					<div style="clear:both;"></div>

									<article id="post-78" class="post-78 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Stairwell Sessions &amp; Beyond</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/17-Stairwell-Sessions-169x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/17-Stairwell-Sessions-169x300.jpg 169w, http://makerparkradio.nyc/wp-content/uploads/2017/06/17-Stairwell-Sessions-338x600.jpg 338w, http://makerparkradio.nyc/wp-content/uploads/2017/06/17-Stairwell-Sessions.jpg 360w" sizes="(max-width: 169px) 100vw, 169px">						</div>

						<p>While young DJs spun classics in Disco, R&amp;B, Funk, Soul, Salsa &amp; House, I listened in a basement stairwell in Brooklyn. Come join me beyond the stairwell as I share the classics and new music with you.</p>
<p><a href="https://twitter.com/2017SSB" target="_blank">Stairwell Sessions &amp; Beyond on Twitter</a></p>
<p><a href="https://www.instagram.com/2017ssb/?hl=en" target="_blank">Stairwell Sessions &amp; Beyond on Instagram</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-234" class="post-234 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Steelohim Radio w/ DJ Kinetic &amp; DJ D. Spliff</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/07/boombox-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/07/boombox-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/07/boombox-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/07/boombox-768x768.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/07/boombox-1024x1024.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/07/boombox-600x600.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/07/boombox-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/07/boombox-500x500.jpg 500w, http://makerparkradio.nyc/wp-content/uploads/2017/07/boombox.jpg 1400w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Discussing Hip Hop music and culture, DJ Kinetic will be playing indie bangers, classics, deep album cuts, &amp; demos to find diamonds in the rough.</p>
<p><a href="https://www.instagram.com/steelohim/?hl=en" target="_blank">@Steelohim</a></p>
<p><a href="http://facebook.com/steelohim" target="_blank">Steelohim on Facebook</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-107" class="post-107 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Two Drink Minimum</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/13-Two-Drink-Minimum-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/13-Two-Drink-Minimum-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/13-Two-Drink-Minimum-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/06/13-Two-Drink-Minimum-768x768.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/13-Two-Drink-Minimum-600x600.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/06/13-Two-Drink-Minimum-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/06/13-Two-Drink-Minimum-500x500.jpg 500w, http://makerparkradio.nyc/wp-content/uploads/2017/06/13-Two-Drink-Minimum.jpg 1024w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Two Drink Minimum is a show about beer and making stuff — whether that’s music, sculpture or just more booze. Every episode pairs a brewer with a local artist to talk about the creative process. It’s a celebration of consumption and creation.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-96" class="post-96 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Type 88</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/03-Type-88-300x300.png" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/03-Type-88-300x300.png 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/03-Type-88-150x150.png 150w, http://makerparkradio.nyc/wp-content/uploads/2017/06/03-Type-88-250x250.png 250w, http://makerparkradio.nyc/wp-content/uploads/2017/06/03-Type-88.png 500w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>TYPE 88 is the brain child of a driven community looking to connect people for the greater good. Tune in to meet some emerging stars providing insight, inspiration and music to push towards a brighter future. This bi-weekly show will feature guests that are out in the world making a difference, people that are living the dream not just talking about it. This 2hr show is hosted by Dave Noodlez. He’ll be sharing the latest underground tracks from artists we love.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-179" class="post-179 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Urban Farm Chat</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/966271_10153101945135058_1038322793_o-300x225.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/966271_10153101945135058_1038322793_o-300x225.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/966271_10153101945135058_1038322793_o-768x576.jpg 768w, http://makerparkradio.nyc/wp-content/uploads/2017/06/966271_10153101945135058_1038322793_o-1024x768.jpg 1024w, http://makerparkradio.nyc/wp-content/uploads/2017/06/966271_10153101945135058_1038322793_o-600x450.jpg 600w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Host and Urban Farmer Asher Landes will explore all things farming, food and the role we all play in the future of our food system.</p>
<p>Every other Wednesday 4pm – 6pm</p>
<p><a href="https://twitter.com/EmpressGreenInc" target="_blank">Empress Green on Twitter</a></p>
<p><a href="https://www.instagram.com/empressgreeninc/?hl=en" target="_blank">Empress Green on Instagram</a></p>
<p><a href="https://www.empressgreen.com/" target="_blank">www.empressgreen.com</a></p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-134" class="post-134 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">Vinnie Megundo</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/DECADESOFDANCE_MPR-300x225.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/DECADESOFDANCE_MPR-300x225.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/DECADESOFDANCE_MPR-600x450.jpg 600w, http://makerparkradio.nyc/wp-content/uploads/2017/06/DECADESOFDANCE_MPR.jpg 640w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>Dance music of today and yesterday</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-102" class="post-102 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">World Enrage Radio</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/Image-1-225x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/Image-1-225x300.jpg 225w, http://makerparkradio.nyc/wp-content/uploads/2017/06/Image-1-450x600.jpg 450w, http://makerparkradio.nyc/wp-content/uploads/2017/06/Image-1.jpg 750w" sizes="(max-width: 225px) 100vw, 225px">						</div>

						<p>World Enrage radio featuring Mike Pelle &amp; Jeff Enrage playing the best in metal, hardcore, punk &amp; local music.</p>


					</article>
					<div style="clear:both;"></div>

									<article id="post-119" class="post-119 show type-show status-publish has-post-thumbnail hentry">
					<div style="clear:both;"><hr></div>
					<header class="entry-header">
						<h1 class="entry-title">You Name It w/Rory Merola</h1>
					</header><!-- .entry-header -->


						<!-- custom show output : This portion can be edited or inserted into your own theme files -->



						<div class="station-featured-image alignright">
							<img src="http://makerparkradio.nyc/wp-content/uploads/2017/06/24-You-Name-It-300x300.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://makerparkradio.nyc/wp-content/uploads/2017/06/24-You-Name-It-300x300.jpg 300w, http://makerparkradio.nyc/wp-content/uploads/2017/06/24-You-Name-It-150x150.jpg 150w, http://makerparkradio.nyc/wp-content/uploads/2017/06/24-You-Name-It-250x250.jpg 250w, http://makerparkradio.nyc/wp-content/uploads/2017/06/24-You-Name-It.jpg 381w" sizes="(max-width: 300px) 100vw, 300px">						</div>

						<p>YNI with local musician Rory Merola is a multi genre, depth delving harkening in to the lesser known music spanning the 70’s to the present. Disclaimer: You might learn something while enjoying the sounds.</p>


					</article>
					<div style="clear:both; "></div>




							</div>

						</div>

					</div>
