<div class="wrapper">
    <div class="h_iframe">
        <iframe src="https://livestream.com/accounts/25937168/events/7713617/player?enableInfoAndActivity=true&defaultDrawer=&autoPlay=true&mute=false" frameborder="0" allowfullscreen></iframe>
    </div>

        <style>

        html,body        {height:100%;}
        .wrapper         {width:90%;height:90%;margin:0}
        .h_iframe        {position:relative;}
        .h_iframe .ratio {display:block;width:100%;height:auto;}
        .h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}


        </style>
</div>

<div class="layout-container">


  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">

      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
