    <header role="banner">
      {{ page.header }}
    </header>

<div class="layout-container">


  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">

      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar %}
        <aside class="layout-sidebar-first" role="complementary">
          {{ page.sidebar }}

          <h1>Test Text2</h1>

          <style>
          .layout-sidebar-first{
            width: 300px;
            height: 500px;
            padding-right: 15px;
          }
          </style>

        </aside>
      {% endif %}


  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
