<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    {{attach_library('makerparktheme/bootstrap') }}
    {{attach_library('makerparktheme/popper')}}


  </head>
  <body>
    <header role="banner">
    {{ page.header }}

    <div class="main-navigation">

      {{page.main_navigation}}


    </div>

    </header>
    <center> <div class="bg-warning text-white rounded" style="width: 300px; height 30px;"><h1>Support Maker Park Radio</h1></div> </center>

<h1>Support your community-building streaming radio station! We are a registered 501c3 Non-Profit and need your help to keep our programming going!

We represent the many music, social and ethnic communities, connecting people through amazing music and curated arts-based programming. Our volunteer radio hosts and DJs work very hard to produce amazing shows that reflect all that we are on Staten Island.

Your generous and fully tax-deductible gift to Maker Park Radio, Inc. will help support:

Free community streaming radio station overhead costs.
Streaming radio licenses, insurance and streaming software fees.
Community outreach and event hosting.
High-School Internship program for communications focused students.
Our ability to continue to bring our talent and our voice to all of Staten Island and beyond!
There are three ways to do this:

1. DONATE! Make a donation via the Donate button! Any amount helps, and we will send you a receipt for your donation to our Non-Profit.

2. SPONSORSHIP! Your logo will be displayed on our home page and your banner will be welcomed at any of our events! Rates listed on the flyer below.

3. DONATE GOODS & SERVICES! Please contact Kristin at MakerParkRadio@gmail.com for any donations you would like to offer to help us with our fundraisers.

</h1>



  </body>
</html>
