<!DOCTYPE html>
<html>
  <head>
  {{attach_library('makerparktheme/bootstrap')}}
  {{attach_library('makerparktheme/popper')}}
  {{attach_library('makerparktheme/active')}}



  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/sites/default/files/mprphotos/rsz_makerpark.png">
    </a>
  </nav>

      <nav class="navbar navbar-brand navbar-expand-lg navbar-dark bg-dark">

          <a class="navbar-brand" href="#">
            <img src="/sites/default/files/mprphotos/rsz_makerpark.png" width="30" height="30" alt="">
          </a>
          <a class="navbar-brand btn btn-warning"style="border-color: #FAAF42;" style=""href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbarNavDropdown" class="navbar-collapse collapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link text-white btn btn-warning"style="padding-top: 15px; padding-bottom: 15px; padding-right:10px; padding-left:10px; margin: 10px; border-color:#FAAF42;" href="/node/4">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white btn btn-warning " style="padding-top: 15px; padding-bottom: 15px; padding-right:10px; padding-left:10px; margin: 10px; border-color:#FAAF42;"href="/node/5">Schedule</a>
                  </li>
                  <div class="dropdown nav-item">
                  <a class="nav-link btn btn-warning text-white dropdown-toggle" style="padding-top: 15px; padding-bottom: 15px; padding-right:10px; padding-left:10px; margin: 10px; border-color:#FAAF42;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shows
                  </a>

                  <div class="dropdown-menu nav-item" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item nav-item" href="/node/17">Music Shows</a>
                    <a class="dropdown-item nav-item" href="/node/18">Talk Shows</a>
                  </div>
                </div>
                  <li class="nav-item">
                    <a class="nav-link text-white btn btn-warning" style="padding-top: 15px; padding-bottom: 15px; padding-right:10px; padding-left:10px; margin: 10px; border-color:#FAAF42;" href="/node/15">Donate/Sponsor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white btn btn-warning" style="padding-top: 15px; padding-bottom: 15px; padding-right:10px; padding-left:10px; margin: 10px; border-color:#FAAF42;" href="/node/13">Archive</a>
                  </li>

              </ul>
          </div>
      </nav>
  </head>
</html>
