<div class="mailing" id="mc_embed_signup">
<form action="https://nyc.us16.list-manage.com/subscribe/post?u=6338c9a8cce6df046dc5ff501&amp;id=d312a7841c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
<div id="mc_embed_signup_scroll">
<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span><br>
</label><br>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name </label><br>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label><br>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
<p></p></div>
<p>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6338c9a8cce6df046dc5ff501_d312a7841c" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
<p></p></div>
</form>
</div>

<style>
.mailing {
  background: #FFFFFF;
}



</style>

<nav role="navigation" aria-labelledby="block-useraccountmenu-menu" id="block-useraccountmenu" class="contextual-region">

  <h2 id="block-useraccountmenu-menu">User account menu</h2>


  <div data-contextual-id="block:block=useraccountmenu:langcode=en|menu:menu=account:langcode=en" class="contextual" role="form"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open User account menu configuration options</button>

    <ul class="contextual-links" hidden=""><li class="block-configure"><a href="/admin/structure/block/manage/useraccountmenu?destination=node">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/account?destination=node">Edit menu</a></li></ul>

  </div>
              <ul>
              <li>
        <a href="/user" data-drupal-link-system-path="user">My account</a>
              </li>
          <li>
        <a href="/user/logout" data-drupal-link-system-path="user/logout">Log In/Log Out</a>
              </li>
        </ul>
  </nav>
