<nav role="navigation" aria-labelledby="block-useraccountmenu-menu" id="block-useraccountmenu" class="contextual-region">

  <h2 id="block-useraccountmenu-menu">User account menu</h2>
  <div data-contextual-id="block:block=useraccountmenu:langcode=en|menu:menu=account:langcode=en" class="contextual" role="form"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open User account menu configuration options</button>

<ul class="contextual-links" hidden=""><li class="block-configure"><a href="/admin/structure/block/manage/useraccountmenu?destination=node">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/account?destination=node">Edit menu</a></li></ul>

</div>
              <ul>
              <li>
        <a href="/user" data-drupal-link-system-path="user">My account</a>
              </li>
          <li>
        <a href="/user/logout" data-drupal-link-system-path="user/logout">Log out</a>
              </li>
        </ul>
  </nav>
