<div class="mailing rounded" id="mc_embed_signup">
<form action="https://nyc.us16.list-manage.com/subscribe/post?u=6338c9a8cce6df046dc5ff501&amp;id=d312a7841c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
<div class="mailcontent" id="mc_embed_signup_scroll">
<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span><br>
</label><br>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name </label><br>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label><br>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
<p></p></div>
<p>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
<p></p></div>
</form>
</div>

<style>
.mailing {
  background: #FFFFFF;
  margin-left: 150px;
  margin-right: 150px;
  width: 400px;
  height: 450px;
  position: absolute;
}

.mailcontent {
  margin-left: 25px;
  margin-bottom: 125px;
}

.h2 {
  color: #000000;
}
</style>
