<!DOCTYPE html>
<html>

<div class="sidebar">

<h2>More testing</h2>

<h1>Testing Sidebar Html</h1>

<style>
.sidebar{
  width: 100px;
  height: 1000px;
  background:#000
  float: right;
}
</style>

</div>

</html>
